#public net.minecraft.world.entity.Entity LAVA_FAST_FLOW_SCALE # LAVA_FAST_FLOW_SCALE
public net.minecraft.world.entity.player.Player foodData # foodData
protected net.minecraft.world.food.FoodData add(IF)V # add
public-f net.minecraft.world.inventory.Slot x # x